<div class="footer-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <footer>
        <div>
          <p>
            Powered By <a href="http://www.myibistro.com">iBistro</a>, 1300 Cobb International Blvd NW Suite A, Kennesaw, GA 30152
          </p>
          <p>
            <a href="mailto:support@myibistro.com">Contact us</a> |
            <a href="/terms">Our user agreement</a> |
            <a href="/privacy">Privacy policy</a> |
            <a href="/security">Security information</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>
